.tableDiv {
    margin-top: 30px;
}

.main-table {
    background: rgba(0, 128, 1, 0.3);
    width: 100%;
    border-radius: 10px;
}

.main-table thead > tr,
.main-table tbody > tr {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.main-table tbody > tr:last-child {
    border-bottom: none;
}

th, td {
    padding: 10px;
}

th {
    color: forestgreen;
    text-shadow: 0 0 2px white;
    font-size: 1.5rem;
    text-align: center;
}

td {
    text-align: center;
}

thead {
    background: orange;
    letter-spacing: 10px;
}