.product-table {
    margin: 15px auto;
    max-width: 60vw;
    display: flex;
    justify-content: center;
    border: 1px solid coral;
    border-radius: 10px;
    background-color: bisque;
}

.product-table table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
}

.product-table th {
    font-size: 1.2rem;
}

.product-table thead tr {
    display: flex;
    justify-content: space-between;
}

.product-table tbody tr {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.product-table tr {
    margin: 10px 0;
}