body {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  color: #666665;
}

.container {
  width: 1140px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-table {
  margin: 40px 0;
}

.my-table tr {
  height: 40px;
  text-align: center;
}

.my-table td,
.my-table th {
  width: 150px;
  border: deepskyblue dotted 1px;
  border-radius: 15px;
}
.my-table th {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.5em;
}

.my-table .special-row {
  background-color: deepskyblue;
  color: white;
}


input {
  margin: 20px 0;
  width: 350px;
}

input[type="checkbox"i] {
  margin: 0;
  width: 20px;
}