tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

tr.red {
  background-color: rgba(255, 0, 0, 0.05);
}

tr.red:hover {
  background-color: rgba(255, 0, 0, 0.15);
}

tr.red td:nth-child(1) {
  color: red;
}
