.SearchBar {
    background-color: #2ED8BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: white;
    padding: 40px 10px;
}

.SearchBar-input {
    width: 600px;
    height: 30px;
    font-size: 1.2rem;
    margin: 10px;
}

.SearchBar-check {
    font-size: 0.9rem;
}