.product-table {
  display: flex;
  justify-content: center;
}

.table {
  border-collapse: separate;
  border-spacing: 50px 0;
  text-align: center;
}

th {
  padding: 0 200px 0 200px;
}

td {
  padding: 10px 0 10px 0;
}
