.search-bar form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    width: 58vw;
}

.search-bar input[type=text] {
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    width: 100%;
    border: 3px solid coral;
}