@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    padding: 25px calc((100vw - 960px) / 2);

    @media (max-width: 980px) {
        padding: 25px 10px;
    }
}
