@import "./base.scss";
@import "./table.scss";
*{
    font-family: 'Playfair Display SC', serif;
}
table{
    border-radius: 10px;
    margin: 10px;
}
// .card-flex {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }

.stockedfalse{
    background:red;
}
.category{
    background: Grey;
}

th{
    border-bottom:solid black 1px;
}