@import "./base.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    color: white;
    text-shadow: 0px 2px 2px grey;
  }

  .searchBar {
    display: flex;
    width: 80%;
    margin: 30px 0;
    display: flex;
    justify-content: space-around;

    .bar {
      border: none;
      width: 50%;
      padding: 10px;
      box-shadow: 0px 10px 50px rgba(179, 179, 179, 0.637);
    }

    .bar:focus {
        outline-color: #2196f3;
    }

    .container-checkbox {
      display: block;
      position: relative;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 22px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
      }

      input:checked ~ .checkmark {
        background-color: #2196f3;
      }

      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }


  }

  table {
    border: none;
    width: 80%;
    border-collapse: collapse;
    box-shadow: 0px 10px 50px rgba(179, 179, 179, 0.637);
  }
  td {
    padding: 10px;
    text-align: center;
    // border-bottom: 4px solid grey;
  }

  th,
  .tableHead {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.034);
  }

  tr {
    box-shadow: 0px 5px 30px rgba(179, 179, 179, 0.425);
  }

  .outOfStock {
    color: red;
  }
}
