.table {
  background-color: midnightblue;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
thead {
  color: aliceblue;
  text-align: center;
  justify-self: center;
  align-content: center;
}
