.App {
  text-align: center;
}

body {
  margin: 4rem 15rem;
}
.search {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
}

div > * {
  padding: 0.5rem;
}
.table {
  display: flex;
  flex-direction: column;
}

.tr {
  border-top: 1px gray solid;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.heading {
  flex: 1;
}

.table-heading {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}
