*{
  box-sizing: border-box;
}

.flex{
display: flex;
}

.center{
  align-items : center;
}

.column{
  flex-direction: column;
}

.search-bar > input{

  font-size: 1em;
}

#input-name{
  width: 200px;
  margin-right: 10px;
}
#input-number{
  width: 90px;
}

.search-bar > input:focus{
  border-bottom: green solid 1px;
}

table{
margin-top: 2vh;
min-width: 300px;
  border: 1px solid;
  text-align: left;
  border-collapse: collapse;
}

td{
  padding: 5px 10px;
  border-top: 1px solid black;

}
thead{
  background-color: black;
  color: white;
}
tbody tr:nth-child(even){
  background-color: rgb(241, 232, 232);
}