.App {
  text-align: center;  
  margin: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.inputClass {
  width: 98%;
  height: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  margin-top: 10px;
  justify-content: space-around;

}

.labelContainer {
  margin: 10px;
}