body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

table {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
}
