.App {
  display:flex;
  flex-direction: column;
  align-items: center;
  
}
.productTable {
text-align: center;
display: flex;
flex-direction: column;

}

.tableRow {
  border-bottom: 1px solid lightgray;
}

.header {

  background-color: lightgray;
}

h1 {
  text-align: center;
}