.App {
  text-align: center;
  width: 60%;
  margin: auto;

}

.ProductPage h1 {
  font-size: 3rem;
}

.SearchBar {
  margin: auto;
  text-align: left;
}

.ProductTable {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkbox input {
  margin-right: 5px;

}

.checkbox {
  font-weight: 400;
  padding-left: 10px;
}