body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 html {
   display: flex;
   justify-content: space-evenly;
 }

.row  {
   justify-content: space-evenly;
   padding: 4px 10px;

 }
 .table {
   justify-content: space-between;
 }

 #price {
   align-items: flex-end;
 }
 #name {
   align-items: flex-start;
 }
